# General project configuration
project_name = "microservices-demo"

# AWS Configuration
aws_region = "eu-north-1"

# EC2 Configuration
instance_type = "t3.micro"

# SSH configuration
key_name = "your-aws-key-pair-name"

# Your public IP allowed for SSH access
my_ip = "YOUR_PUBLIC_IP/32"

# GitHub OIDC configuration
github_repository = "repo:YOUR_GITHUB_USERNAME/YOUR_REPOSITORY:*"